/* BODY ---------- BODY */

body {
    /* Adding Roboto (Google Fonts) */
    font-family: "Roboto", sans-serif;
    min-width: 20rem;
    
}

ul {
    list-style-type: none;
  }

a {
    text-decoration: none;
}
  

.site-wrapper {
    /* Limiting the width of the whole page, excluding background color */
    max-width: 75rem;
    margin: 0 auto;
}



/* NAVIGATION ---------- NAVIGATION */

/* BURGER MENU */

.burger-menu {
    background-color: transparent;
	border: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

#main-nav-list {
    height: 0;
    overflow: hidden;
    transition: height .5s ease;
    margin-top: 0;
}

#main-nav-list.show {
    height: 10vh;
}

.burger-menu-wrapper {
    display: flex;
    flex-direction: column;
}

.burger-menu {
    margin-top: 1rem;
}

#main-nav-list {
    margin-right: 2rem;
}

/* RESPONSIVE LAYOUT FOR 30em */

@media(min-width: 30em){

    #burger-menu {
        display: none;
    }

    nav {
        display: flex;
        justify-content: space-between;
        padding: 1rem;
    }
    
    .logo{
        min-width: 3rem;
    }
    
    nav ul {
        display: flex;
        padding: 1rem 1rem 1.8rem 1rem;
    }
    
    nav li {
        font-size: 1.3rem;
        font-weight: 600;
        padding-left: 1.5rem;  
    }

    #main-nav-list {
        overflow: visible;
    }
}



/* HERO SECTION ---------- HERO SECTION */

video {
    width: 100%;
    filter: brightness(60%);
}

.hero {
    position: relative;
}

.hero h1 {
    font-family: "Freeman", sans-serif;
    font-size: 3rem;
    color: #ffff80;
    width: fit-content;
    position: absolute;
    bottom: 4rem;
    right: 0;
    left: 0;
    z-index: 10;
    margin: 0 auto;
}

/* RESPONSIVE LAYOUT FOR 47.5em */

@media(min-width: 47.5em) {
    .hero h1 {
        font-size: 6rem;
        bottom: 6rem;
    }
}

/* RESPONSIVE LAYOUT FOR 30em */

@media(min-width: 30rem) {
    .hero h1 {
        font-size: 4.5rem;
        bottom: 5rem;
    }
}

/* RESPONSIVE LAYOUT FOR 75em */

@media(min-width: 75em) {
    .hero h1 {
        font-size: 8rem;
        bottom: 10rem;
    }
}



/* MAIN ---------- MAIN */

blockquote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

article h3 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: .5rem;
}

article img {
    width: 80%;
    max-width: 20rem;
    display: block;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    box-shadow: 2px 2px 8px;
}

article p {
    display: none;
}

/* RESPONSIVE LAYOUT FOR 47.5em */

@media(min-width: 47.5em) {
    blockquote {
        font-weight: 600;
    }

    article p {
        display: block;
        font-style: italic;
    }

    .posts {
        padding: 1rem;
    }


/* GRID */

    article {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        justify-items: center;
        align-items: center;
    }
    
    /* Grid Row 1 */
    .header-gallery {
        grid-column: 2;
        grid-row: 1;
    }

    .img-gallery {
        grid-column: 2;
        grid-row: 2;
    }

    .para-gallery {
        grid-column: 1;
        grid-row: 2;
    }

    /* Grid Row 2 */
    .header-food {
        grid-column: 1;
        grid-row: 3;
    }

    .img-food {
        grid-column: 1;
        grid-row: 4;
    }

    .para-food {
        grid-column: 2;
        grid-row: 4;
    }

    /* Grid Row 3 */
    .header-cities {
        grid-column: 2;
        grid-row: 5;
    }

    .img-cities {
        grid-column: 2;
        grid-row: 6;
    }

    .para-cities {
        grid-column: 1;
        grid-row: 6;
    }

    article h3 {
        margin-bottom: 1rem;
    }
}

/* RESPONSIVE LAYOUT FOR 75em */

@media(min-width: 75em) {
    blockquote {
        font-size: 1.2rem;
    }

    .posts {
        display: flex;
        justify-content: space-around;
        margin-bottom: 3rem;
    }

    article {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        padding: 1rem;
        width: 33%;
    }

    article p {
        font-style: normal;
        font-weight: 300;
    }
}


/* FOOTER */

footer {
    background-color: #e8e8e8;
    text-align: center;
}

footer p {
    margin-bottom: 0;
    padding: 2rem 2rem 0 2rem ;
}

.educational {
    font-size: .8rem;
    padding: 0 0 1rem 0;
}
