/* HTML */

body {
    /* Adding Roboto (Google Fonts) */
    font-family: "Roboto", sans-serif;
    min-width: 20rem;
    
}

ul {
    list-style-type: none;
  }

a {
    text-decoration: none;
}
  

.site__wrapper {
    /* Limiting the width of the whole page, excluding background color */
    max-width: 75rem;
    margin: 0 auto;
}


/* MOBILE 480px - 30rem */

/* NAVIGATION */

nav {
    display: flex;
    justify-content: space-between;
    padding: .5rem 1rem;
}

.logo{
    min-width: 3rem;
}

nav ul {
    display: flex;
}

nav li {
    font-size: 1rem;
    font-weight: 600;
    padding-left: 1.5rem;
    
}

/* HERO SECTION */

video {
    width: 100%;
    filter: brightness(60%);
}

.hero {
    position: relative;
}

.hero h1 {
    font-family: "Freeman", sans-serif;
    font-size: 4rem;
    color: #ffff80;
    width: fit-content;
    position: absolute;
    bottom: 4rem;
    right: 0;
    left: 0;
    z-index: 10;
    margin: 0 auto;
}

/* MAIN */

blockquote {
    margin: 4rem 2rem;
}

article h3 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: .5rem;
}

article img {
    width: 80%;
    max-width: 20rem;
    display: block;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    box-shadow: 2px 2px 8px;
}

/* FOOTER */

footer {
    background-color: #e8e8e8;
    text-align: center;
}

footer p {
    margin-bottom: 0;
    padding-bottom: 2rem;
}

footer ul {
    margin: 0 auto;
    padding-inline-start: 0px;
}

footer li {
    padding: 0;
}